body {
    background: rgb(181, 178, 178);
    margin: auto;
    border-left: 5px  grey;
    border-right: 5px  grey;
    border-width: 5px  grey; 
    width: auto;
}

.container{
    width: 100%;
    height: 10%;
    text-decoration: none;
    background: scroll;
    background-color: rgb(218, 217, 217);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
    text-size-adjust: auto;
    text-align-last: center;
    margin: auto;
    border-top: dotted grey;
    border-bottom: dotted grey;
    font-family: cursive;
}

#nav, .main{
    text-decoration: none;
}

.selfie{
    justify-content: space-between;
    margin: 0%;
}

#title, .subtitle, .post_title, .post_image{
    color: rgb(57, 59, 71);
    text-align: justify;
    text-decoration: none;
}

.post_title{
font-size: 16px; 
font-style: italic;
margin: 7px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 } 

 .post {
     background: rgb(186, 186, 186);
     padding: 10px 5px 0;
     margin: 7px;
     border: 3px solid black;  
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     grid-template-columns: 1fr 1fr;  

 }

 .post_image{
     border-radius: 100%;
 }
 
 .contact_list{
list-style-type: none;
padding-left: 15px;
text-decoration: none;
}

.footer {
    width: 100%;
    height: 10%;
    background: fixed;
    background-color: rgb(218, 217, 217);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
    text-size-adjust: auto;
    text-align: center;
    margin: center;
    border-top: dotted;
    border-bottom: dotted;
}

.logo {
    border-radius: 100%;
    margin: center;
}

.link {
    text-align: center;
    margin: center;
    text-decoration: none;
}